---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
UseTab: Never
ColumnLimit: 0
AlignTrailingComments: false
AlignConsecutiveMacros: false
CommentPragmas: '^ ///|^//!|^/\*<|^/\*\*<|^> \*/'
BreakBeforeBraces: Custom
BraceWrapping:
  {
    AfterEnum: false,
    AfterStruct: false,
    AfterUnion: false,
    BeforeElse: false,
    IndentBraces: false,
  }
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
---

